<div class="items">
  <div
    id="carouselExampleIndicators"
    class="relative"
    data-te-carousel-init
    data-te-carousel-slide
  >
    <!--Carousel indicators-->

    <!--Carousel items-->
    <div
      class="relative w-full overflow-hidden after:clear-both after:block after:content-['']"
    >
      <!--First item-->
      <div class="relative" data-te-carousel-item ngFor="let city of europe">
        <app-fetch-card></app-fetch-card><br />
      </div>
      <!--Second item-->

      <!--Carousel controls - prev item-->

      <!--Carousel controls - next item-->
    </div>
  </div>
</div>
