<div
  *ngIf="datosClimaCiudad && datosPronosticoCiudad"
  class="component flex flex-wrap w-full lg:w-auto"
>
  <div
    class="w-full lg:w-1/2 flex rounded-lg bg-auto imagenClima"
    [style.background-image]="'url(' + urlImagenFondo + ')'"
    style="background-size: cover"
  >
    <div class="rounded-lg py-6 pl-8 pr-32 w-full text-gray-200 drop-shadow-lg">
      <div class="mb-20">
        <h2
          class="font-bold text-3xl leading-none pb-1 opacity-100 drop-shadow-lg"
        >
          {{ this.dayOfWeek }}
        </h2>
        <h3 class="leading-none pb-2 pl-1 opacity-100 drop-shadow-lg">
          {{ this.formattedDate }}
        </h3>
        <!-- <p class="flex aling-center opacity-75"><svg class=" w-4 inline mr-1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"  viewBox="0 0 425.963 425.963" style="enable-background:new 0 0 425.963 425.963;" xml:space="preserve" class=""><g><g><path d="M213.285,0h-0.608C139.114,0,79.268,59.826,79.268,133.361c0,48.202,21.952,111.817,65.246,189.081   c32.098,57.281,64.646,101.152,64.972,101.588c0.906,1.217,2.334,1.934,3.847,1.934c0.043,0,0.087,0,0.13-0.002   c1.561-0.043,3.002-0.842,3.868-2.143c0.321-0.486,32.637-49.287,64.517-108.976c43.03-80.563,64.848-141.624,64.848-181.482   C346.693,59.825,286.846,0,213.285,0z M274.865,136.62c0,34.124-27.761,61.884-61.885,61.884   c-34.123,0-61.884-27.761-61.884-61.884s27.761-61.884,61.884-61.884C247.104,74.736,274.865,102.497,274.865,136.62z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/></svg> -->
        <h2 class="font-bold opacity-100 drop-shadow-lg">
          {{ datosClimaCiudad.name }} ({{
            datosClimaCiudad.sys ? datosClimaCiudad.sys.country : ""
          }})
        </h2>
      </div>
      <div>
        <img
          class="opacity-100 drop-shadow-lg"
          src="https://openweathermap.org/img/wn/{{
            datosClimaCiudad.weather ? datosClimaCiudad.weather[0].icon : 2
          }}@2x.png"
        />

        <strong
          class="leading-none text-6xl block font-weight-bolder drop-shadow-lg"
          >{{
            datosClimaCiudad.main
              ? (datosClimaCiudad.main.temp | number : "1.1-1")
              : ""
          }}ºC</strong
        >
      </div>
    </div>
  </div>

  <div class="w-full lg:w-1/2 flex ml-0">
    <div class="lg:my-3 bg-gray-800 text-white p-8 lg:rounded-r-lg w-full">
      <div class="flex justify-between mb-4 w-full">
        <div class="w-auto font-bold uppercase text-90">Cielo</div>
        <div class="w-auto text-right">
          {{
            datosClimaCiudad.weather
              ? (datosClimaCiudad.weather[0].description | lowercase)
              : ""
          }}...
        </div>
      </div>
      <div class="flex justify-between mb-4 w-full">
        <div class="w-auto font-bold uppercase text-90">Humedad</div>
        <div class="w-auto text-right">
          {{
            datosClimaCiudad.main
              ? (datosClimaCiudad.main.humidity | number : "1.1-1")
              : ""
          }}
          %
        </div>
      </div>
      <div class="flex justify-between mb-8 w-full">
        <div class="w-auto font-bold uppercase text-90">VIENTO</div>
        <div class="w-auto text-right">
          {{
            datosClimaCiudad.wind
              ? (datosClimaCiudad.wind.speed | number : "1.1-1")
              : ""
          }}
          Km/h
        </div>
      </div>
      <div class="flex flex-row">
        <div class="flex flex-col w-1/4 bg-blue-500 rounded-lg pb-4 mx-0.5">
          <div class="text-center pt-2 mb-2">
            <img
              src="https://openweathermap.org/img/wn/{{
                datosPronosticoCiudad.list
                  ? datosPronosticoCiudad.list[0].weather[0].icon
                  : 2
              }}@2x.png"
            />
          </div>
          <div class="text-center">
            <b class="font-normal">{{
              datosPronosticoCiudad.list
                ? (datosPronosticoCiudad.list[0].dt_txt | dateLocalization)
                : ""
            }}</b
            ><br />
            <strong class="text-xl"
              >{{
                datosPronosticoCiudad.list
                  ? (datosPronosticoCiudad.list[0].main.temp | number : "1.1-1")
                  : ""
              }}ºC</strong
            >
          </div>
        </div>

        <div class="flex flex-col w-1/4 bg-blue-600 rounded-lg mx-0.5">
          <div class="text-center pt-2 mb-2">
            <img
              src="https://openweathermap.org/img/wn/{{
                datosPronosticoCiudad.list
                  ? datosPronosticoCiudad.list[8].weather[0].icon
                  : 2
              }}@2x.png"
            />
          </div>
          <div class="text-center">
            <b class="font-normal">{{
              datosPronosticoCiudad.list
                ? (datosPronosticoCiudad.list[8].dt_txt | dateLocalization)
                : ""
            }}</b
            ><br />
            <strong class="text-xl"
              >{{
                datosPronosticoCiudad.list
                  ? (datosPronosticoCiudad.list[8].main.temp | number : "1.1-1")
                  : ""
              }}ºC</strong
            >
          </div>
        </div>
        <div class="flex flex-col w-1/4 bg-blue-500 rounded-lg mx-0.5">
          <div class="text-center pt-2 mb-2">
            <img
              src="https://openweathermap.org/img/wn/{{
                datosPronosticoCiudad.list
                  ? datosPronosticoCiudad.list[10].weather[0].icon
                  : 2
              }}@2x.png"
            />
          </div>
          <div class="text-center">
            <b class="font-normal">{{
              datosPronosticoCiudad.list
                ? (datosPronosticoCiudad.list[16].dt_txt | dateLocalization)
                : ""
            }}</b
            ><br />
            <strong class="text-xl"
              >{{
                datosPronosticoCiudad.list
                  ? (datosPronosticoCiudad.list[16].main.temp
                    | number : "1.1-1")
                  : ""
              }}ºC</strong
            >
          </div>
        </div>
        <div class="flex flex-col w-1/4 bg-blue-600 rounded-lg mx-0.5">
          <div class="text-center pt-2 mb-2">
            <img
              src="https://openweathermap.org/img/wn/{{
                datosPronosticoCiudad.list
                  ? datosPronosticoCiudad.list[22].weather[0].icon
                  : 2
              }}@2x.png"
            />
          </div>
          <div class="text-center">
            <b class="font-normal">{{
              datosPronosticoCiudad.list
                ? (datosPronosticoCiudad.list[22].dt_txt | dateLocalization)
                : ""
            }}</b
            ><br />
            <strong class="text-xl"
              >{{
                datosPronosticoCiudad.list
                  ? (datosPronosticoCiudad.list[22].main.temp
                    | number : "1.1-1")
                  : ""
              }}ºC</strong
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #loading>Loading data...</ng-template>
